KingRight Bitmap "资源\\KingRight.bmp"
0_0 Bitmap "资源\\0_0.bmp"
1_1 Bitmap "资源\\1_1.bmp"
1_2 Bitmap "资源\\1_2.bmp"
1_3 Bitmap "资源\\1_3.bmp"
1_4 Bitmap "资源\\1_4.bmp"
2_1 Bitmap "资源\\2_1.bmp"
2_2 Bitmap "资源\\2_2.bmp"
2_3 Bitmap "资源\\2_3.bmp"
2_4 Bitmap "资源\\2_4.bmp"
3_1 Bitmap "资源\\3_1.bmp"
3_2 Bitmap "资源\\3_2.bmp"
3_3 Bitmap "资源\\3_3.bmp"
3_4 Bitmap "资源\\3_4.bmp"
4_1 Bitmap "资源\\4_1.bmp"
4_2 Bitmap "资源\\4_2.bmp"
4_3 Bitmap "资源\\4_3.bmp"
4_4 Bitmap "资源\\4_4.bmp"
5_1 Bitmap "资源\\5_1.bmp"
5_2 Bitmap "资源\\5_2.bmp"
5_3 Bitmap "资源\\5_3.bmp"
5_4 Bitmap "资源\\5_4.bmp"
6_1 Bitmap "资源\\6_1.bmp"
6_2 Bitmap "资源\\6_2.bmp"
6_3 Bitmap "资源\\6_3.bmp"
6_4 Bitmap "资源\\6_4.bmp"
7_1 Bitmap "资源\\7_1.bmp"
7_2 Bitmap "资源\\7_2.bmp"
7_3 Bitmap "资源\\7_3.bmp"
7_4 Bitmap "资源\\7_4.bmp"
8_1 Bitmap "资源\\8_1.bmp"
8_2 Bitmap "资源\\8_2.bmp"
8_3 Bitmap "资源\\8_3.bmp"
8_4 Bitmap "资源\\8_4.bmp"
9_1 Bitmap "资源\\9_1.bmp"
9_2 Bitmap "资源\\9_2.bmp"
9_3 Bitmap "资源\\9_3.bmp"
9_4 Bitmap "资源\\9_4.bmp"
10_1 Bitmap "资源\\10_1.bmp"
10_2 Bitmap "资源\\10_2.bmp"
10_3 Bitmap "资源\\10_3.bmp"
10_4 Bitmap "资源\\10_4.bmp"
11_1 Bitmap "资源\\11_1.bmp"
11_2 Bitmap "资源\\11_2.bmp"
11_3 Bitmap "资源\\11_3.bmp"
11_4 Bitmap "资源\\11_4.bmp"
12_1 Bitmap "资源\\12_1.bmp"
12_2 Bitmap "资源\\12_2.bmp"
12_3 Bitmap "资源\\12_3.bmp"
12_4 Bitmap "资源\\12_4.bmp"
13_1 Bitmap "资源\\13_1.bmp"
13_2 Bitmap "资源\\13_2.bmp"
13_3 Bitmap "资源\\13_3.bmp"
13_4 Bitmap "资源\\13_4.bmp"
KingLeft Bitmap "资源\\KingLeft.bmp"
DownCursor Cursor "资源\\DownCursor.cur"
